@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23201f;
}

p {
    margin: 5vh 0;
}

small {
    font-style: italic;
}

.rotate{
    background-color: #f9fafd;
    width: 100%;
    transition: transform 0.7s linear;
    position: absolute;
    top: 0vh;
}

.page {
    width: 50vw;
    margin: 8vh auto;
}
h3 {
    margin: 2vh 0;
}

.circle {
    position: absolute;
    top: -15vh;
    left: -15vh;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    background-color: #ff7677;
    transition: transform 0.7s linear;
}

.line {
    width: 2vw;
    height: 0.5vh;
    background-color: #fff3f1;
}

.menu {
    display: flex;
    gap: 0.6vh;
    flex-direction: column;
    position: absolute;
    cursor: pointer;
    top: 20vh;
    right: 4.3vw;
    transition: transform 0.7s linear;
}

.x-mark {
    position: absolute;
    transform: rotate(0.37turn);
    cursor: pointer;
    bottom: 21vh;
    left: 4vw;
    transition: transform 0.7s linear;
}

.x-line {
    width: 2vw;
    height: 0.7vh;
    background-color: #fff3f1;
}

.y-line {
    width: 2vw;
    height: 0.7vh;
    background-color: #fff3f1;
    transform: rotate(0.75turn);
    position: relative;
    bottom: 0.7vh;
}

.menubar {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10vh;
    left: -13vw;
    font-size: 3vh;
    gap: 2vh;
    font-weight: bold;
    color: #fff3f1;
    transition: transform 1s linear;
    cursor: pointer;
}

.about {
    margin-left: 0.5vw;
}

.contact {
    margin-left: 1vw;
}

@media (max-width: 1024px) {
    .circle {
        width: 25vh;
        height: 25vh;
    }

    .menu {
        top: 170px;
        left: 170px;
    }

    .x-mark {
        bottom: 18vh;
        left: 5vw;
    }

    .line {
        width: 2.8vw;
    }

    img {
        max-width: 50vw;
    }
}

@media (max-width: 768px) {

    .menubar {
        font-size: 2vh;
    }

    .x-mark {
        bottom: 19vh;
        left: 7vw;
    }
}

@media (max-width: 425px) {
    .menubar {
        font-size: 1.5vh;
    }
    .x-mark {
        bottom: 19vh;
        left: 15vw;
    }

    .x-line {
        width: 4vw;
        height: 0.4vh;
        background-color: #fff3f1;
    }

    .y-line {
        width: 4vw;
        height: 0.4vh;
        background-color: #fff3f1;
        transform: rotate(0.75turn);
        position: relative;
        bottom: 0.4vh;
    }
}